@{
    ViewData["Title"] = "Tài khoản của tôi";
    var accountId = Context.Session.GetInt32("AccountId");
    var accountName = Context.Session.GetString("AccountName");
    var accountEmail = Context.Session.GetString("AccountEmail");
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a asp-action="MyAccount" class="list-group-item list-group-item-action active">Thông tin tài khoản</a>
                <a asp-action="OrderHistory" class="list-group-item list-group-item-action">Lịch sử đơn hàng</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4>Thông tin tài khoản</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Tên đăng nhập:</dt>
                        <dd class="col-sm-9">@accountName</dd>

                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">@accountEmail</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

